body{
    margin: 0;
    padding: 0;
    font-family: "Bon Vivant", sans-serif;
    color: var(--var-color-2);
    background: var(--var-color-1);
}

html, body{
    height: 2000px;
}

*,*::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar-thumb {
    background: var(--var-color-2);
}

::-webkit-scrollbar {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--var-color-1);
    width: 7px;
    margin: 2px;
}

li{
    list-style: none;
}

:root{
    --var-color-1: #f5efe2;
    --var-color-2: #161616;
}

@font-face{
    font-family: "Bon Vivant";
    src: url('fonts/Bon Vivant Serif.otf');
    src: url('fonts/BonVivantSerif.eot');
    src: url('fonts/BonVivantSerif.eot?#iefix') format('embedded-opentype'),
        url('fonts/BonVivantSerif.woff2') format('woff2'),
        url('fonts/BonVivantSerif.woff') format('woff'),
        url('fonts/BonVivantSerif.ttf') format('truetype'),
        url('fonts/BonVivantSerif.svg#BonVivantSerif') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

main{
    h1{
        position: absolute;
        width: 100%;
        text-align: center;
        top: 40vh;
        text-transform: uppercase;
        font-size: 13vw;
        letter-spacing: 2px;
    }

    ul{
        position: absolute;
        right: 5%;
        top: 100vh;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        li{
            overflow: hidden;
            height: 6vw;
            display: flex;
            // background-color: black;
            margin-bottom: .5vw;
            justify-content: flex-end;
            transition: .2s ease-out;
            span{
                display: block;
                line-height: 6vw;
                font-size: 6vw;
                text-transform: uppercase;
                margin: .05vw;
                transform: translateY(200%);
                &.active{
                    transform: translateY(0%);
                    transition: 1s ease-out;
                }
                &.gap{
                    width: 2vw;
                }
                
            }
            &:hover{
                    opacity: .5;
                    cursor: pointer;
            }
        }
    }
}
